* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Courier New", "Lucida Console" , "Monaco";
    background-color: #aabbe9;
    color: #1b206b;
    padding: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    display: block;
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #333333;
}

.choice1 {
    background-color: #defafd;
    padding: 20px;
    border: solid 1px black;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #4b0082;
}

.choice1:hover {
    background-color: #b0e0e6;
}

.choice2 {
    background-color: #defafd;
    padding: 20px;
    border: solid 1px black;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #4b0082;
}

.choice2:hover {
    background-color: #b0e0e6;
}

.choice3 {
    background-color: #defafd;
    padding: 20px;
    border: solid 1px black;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #4b0082;
}

.choice3:hover {
    background-color: #b0e0e6;
}
